# Supabase — récupère ces valeurs dans Settings > API de ton projet Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ruakbutvxdtjhgagqxjr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1YWtidXR2eGR0amhnYWdxeGpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwOTA3MzgsImV4cCI6MjA5NjY2NjczOH0.fGAgwwTWGYNyznGmFKvtzAh3YOUbKHSKFYqPe30zhqA
